.frame-child2 {
  height: 89px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.mbti1 {
  text-decoration: none;
  width: 219px;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.mbti-classification,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangle-parent1 {
  flex: 1;
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-black);
  justify-content: center;
  padding: var(--padding-7xl) var(--padding-xl) var(--padding-8xl)
    var(--padding-2xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
.mbti-classification {
  width: 100%;
  position: relative;
  background-color: var(--palette-white);
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 0 var(--padding-916xl);
  line-height: normal;
  letter-spacing: normal;
}
