.a6 {
  text-decoration: none;
  position: relative;
  color: inherit;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.wrapper4 {
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.h12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
}
.button,
.profile-components {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  padding: 8.5px var(--padding-11xl);
}
.profile-components {
  padding: 0 var(--padding-12xs) 0 var(--padding-5xs);
}
.profile-child {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: none;
}
.div14,
.profile-child,
.search-icon {
  position: relative;
  overflow: hidden;
}
.search-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.div14 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--palette-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.div15,
.image-icon {
  position: relative;
  overflow: hidden;
}
.image-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.div15 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-item1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--palette-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.div16,
.more-horizontal-icon {
  position: relative;
  overflow: hidden;
}
.more-horizontal-icon {
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.div16 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list,
.menu-item2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item2 {
  border-radius: var(--br-5xs);
  background-color: var(--palette-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.list {
  flex-direction: column;
}
.avatar-icon {
  height: 128px;
  width: 128px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.avatar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 40px;
}
.div17 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name-status {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.name-status,
.person,
.person-wrapper {
  display: flex;
  align-items: flex-start;
}
.person {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.person-wrapper {
  width: 226px;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-text-size);
}
.list-parent,
.profile1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.list-parent {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-99xl);
  font-size: var(--presets-body2-size);
  color: var(--color-black);
}
.profile1 {
  width: 285px;
  background-color: var(--palette-white);
  border-left: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
  padding: 23px var(--padding-2xs) 196px var(--padding-3xl);
  gap: 216px;
}
.h13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 128px;
}
.chat-list-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.label,
.search-icon1 {
  height: 24px;
  position: relative;
  overflow: hidden;
}
.search-icon1 {
  width: 24px;
  flex-shrink: 0;
  min-height: 24px;
}
.label {
  width: calc(100% - 48px);
  border: 0;
  outline: 0;
  font-family: var(--presets-body2);
  font-size: var(--presets-body2-size);
  background-color: transparent;
  flex: 1;
  line-height: 24px;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 173px;
  padding: 0;
}
.search-bar,
.search1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.search1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--palette-white);
  border: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-7xs) var(--padding-xs);
  gap: var(--gap-xs);
}
.search-bar {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
}
.avatar-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.helena-hills,
.will-head-to {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.will-head-to {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text,
.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7{
  align-self: stretch;
  flex-direction: column;
}
.conversation,
.conversation-preview,
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.conversation-preview {
  display: flex;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.conversation,
.conversation1,
.conversation2,
.conversation3,
.conversation4,
.conversation5,
.conversation6,
.conversation7{
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
}
.avatar-child {
  height: 64px;
  width: 64px;
  position: relative;
  object-fit: cover;
}
.avatar {
  height: 64px;
  width: 64px;
  border-radius: var(--br-981xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.oscar-davis,
.trueeeeee {
  position: relative;
  line-height: 150%;
}
.helena-hills,
.oscar-davis,
.daniel-jay-park,
.mark-rojas,
.giannis-constantinou,
.briana-lewis,
.mom,
.sherry-roy{
  font-weight: 500;
  display: inline-block;
  min-width: 115px;
}
.trueeeeee {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation1,
.text-wrapper,
.text1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon2 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.daniel-jay-park,
.lol-yeah-are {
  position: relative;
  line-height: 150%;
}
.lol-yeah-are {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation2,
.text-container,
.text2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon3 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.great-catching-up,
.mark-rojas {
  position: relative;
  line-height: 150%;
}
.great-catching-up {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation3,
.text-frame,
.text3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon4 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.text4,
.yep {
  align-self: stretch;
}
.yep {
  position: relative;
  font-size: var(--presets-body2-size);
  line-height: 150%;
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation4,
.text-wrapper1,
.text4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon5 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.briana-lewis,
.when-are-you {
  position: relative;
  line-height: 150%;
}
.when-are-you {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation5,
.text-wrapper2,
.text5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon6 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.text6,
.thanks {
  align-self: stretch;
}
.thanks {
  position: relative;
  font-size: var(--presets-body2-size);
  line-height: 150%;
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conversation6,
.text-wrapper3,
.text6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.avatar-icon7 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.jack-needs-to,
.sherry-roy {
  position: relative;
  line-height: 150%;
}
.jack-needs-to {
  align-self: stretch;
  font-size: var(--presets-body2-size);
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-list,
.conversation7,
.text-wrapper4,
.text7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-wrapper4 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 187px;
}
.chat-list,
.conversation7 {
  align-self: stretch;
}
.chat-list {
  flex-direction: column;
}
.chat-list-search {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--body-text-size);
}
.chat-components,
.chat-list-search,
.list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.list1 {
  align-self: stretch;
  background-color: var(--palette-white);
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-mini) 0 112px;
  gap: 7px;
  z-index: 1;
  margin-top: -950px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.chat-components {
  width: 400px;
  min-width: 400px;
}
.avatar-icon8 {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 48px;
}
.div18,
.helena-hills1 {
  position: relative;
  line-height: 150%;
}
.div18 {
  align-self: stretch;
  color: var(--color-darkslategray-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.person1,
.text8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text8 {
  flex: 1;
  flex-direction: column;
}
.person1 {
  width: 164px;
  flex-direction: row;
  gap: var(--gap-base);
}
.phone-icon,
.video-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.call-icons,
.chat-header,
.icons {
  display: flex;
  align-items: flex-start;
}
.call-icons {
  width: 72px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.chat-header {
  display: flex;
  align-items: center;
  align-self: stretch;
  background-color: var(--palette-white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl) var(--padding-sm);
  gap: var(--gap-xl);
}
.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}
.message-sender {
    font-weight: bold;
    font-size: 1em; /* 调整字体大小 */
    color: #888; /* 字体颜色 */
    margin-right: 10px; /* 与时间戳之间的间距 */
    display: inline-block; /* 确保发件人名字和时间戳在同一行 */
}
.message-timestamp {
    font-size: 0.8em;
    color: #888;
}
.message-body {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}
.no-honestly-im {
  position: relative;
  font-size: var(--presets-body2-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--presets-body2);
  color: var(--palette-white);
  text-align: left;
}
.last-user-message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 使內容靠右對齊 */
  color: var(--color-black); /* 將文字顏色改為黑色 */
  background-color: var(--color-gainsboro-100); /* 假設您想要保持灰色背景 */
  padding: 8px 12px; /* 添加一些內邊距 */
  border-radius: 8px; /* 圓角 */
  max-width: 70%; /* 限制最大寬度 */
  margin-left: auto; /* 如果在一個塊級容器中，這會使消息靠右 */
}
.last-user-message-content:hover,
.simple-wrapper:hover {
  background-color: var(--color-darkslategray-200);
}
.this-is-the {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.last-user-message-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black); /* 背景色 */
  color: var(--palette-white); /* 文字颜色 */
  padding: var(--padding-xs) var(--padding-base); /* 内边距 */
  border-radius: var(--br-base) var(--br-base) var(--br-9xs) var(--br-base); /* 圆角 */
  max-width: 480px; /* 最大宽度 */
  white-space: nowrap; /* 不换行 */
}
.bubble {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px; /* 内边距 */
  gap: var(--gap-5xs);
  margin-left: auto; /* 使气泡内容靠右 */
}
.date,
.oh {
  position: relative;
  line-height: 150%;
}
.date {
  align-self: stretch;
  color: var(--color-gray-200);
  text-align: center;
  white-space: nowrap;
}
.oh {
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
}
.user-messages {
  border-radius: var(--br-5xl) var(--br-base) var(--br-base) var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 480px;
}
.cool {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
}
.contact-messages {
  border-radius: var(--br-5xl) var(--br-base) var(--br-base) var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 480px;
}
.how-does-it {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.user-detailed-messages {
  border-radius: var(--br-5xl) var(--br-base) var(--br-base) var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 480px;
  white-space: nowrap;
}
.bubbles {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 511px 0 0;
  gap: var(--gap-5xs);
  color: var(--color-black);
}
.simple {
  position: relative;
  font-size: var(--presets-body2-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--presets-body2);
  color: var(--palette-white);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.you-just-edit {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.boom {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
}
.boom-wrapper,
.bubbles1 {
  display: flex;
  box-sizing: border-box;
}
.bubbles1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 204px;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.hmmm {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.i-think-i {
  position: relative;
  font-size: var(--presets-body2-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--presets-body2);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 99px;
}
.simple-wrapper,
.boom-wrapper,
.hmmm-wrapper,
.will-head-to,
.i-think-i-get-it-wrapper,
.you-just-edit-any-text-to-type-wrapper{
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--color-gainsboro-100);
  border-radius: var(--br-5xl) var(--br-base) var(--br-base) var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 480px;
  white-space: nowrap;
}
.i-think-i-get-it-wrapper:hover {
  background-color: var(--color-silver-100);
}
.will-head-to1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.bubbles2,
.messages {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bubbles2 {
  padding: 0 221px 0 0;
  gap: var(--gap-5xs);
  color: var(--color-black);
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  max-width: 100%;
  background-color: #f1f1f1; /* 背景颜色 */
  border-radius: 0; /* 无圆角 */
  padding: 10px; /* 内边距 */
  margin-bottom: 10px; /* 消息之间的间距 */
}
.timestamp {
  font-size: 0.8em; /* 使字體比正常文字小 20% */
  color: var(--color-darkslategray-100); /* 使用較淺的顏色 */
  margin-top: 4px; /* 在訊息和時間戳之間添加一些間距 */
  align-self: flex-end; /* 如果父元素是 flex 容器，這會使時間戳靠右對齊 */
}
.label1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 118px;
  max-width: 100%;
}
.image-icon1,
.mic-icon,
.smile-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reply {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--palette-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  gap: var(--gap-base);
  color: var(--color-gray-200);
}
.chat,
.conversation8,
.messages-parent,
.reply {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.messages-parent {
  display: flex;
  flex-direction: column-reverse;
  height: 500px; /* 或者您想要的高度 */
  overflow-y: auto;
}
.chat,
.conversation8 {
  overflow: hidden;
  flex-shrink: 0;
}
.conversation8 {
  width: 722px;
  background-color: var(--palette-white);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-sm) var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: 2px;
  min-width: 722px;
  font-size: var(--presets-body2-size);
  color: var(--color-black);
}
.chat {
  align-self: stretch;
  background-color: var(--color-whitesmoke-300);
  flex-direction: row; /* 改为纵向排列 */
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--presets-body2);
  color: var(--palette-white);
  width: 100%; /* 让聊天框宽度占据父容器 */
  max-width: 100%; /* 控制最大宽度 */
}
.a7 {
  text-decoration: none;
  position: relative;
  color: inherit;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.analysis-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 34px 0 33px;
}
.analysis-input-child {
  width: 267px;
  height: 808px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-300);
  display: none;
}
.h14,
.h15 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.h14 {
  align-self: stretch;
  font-weight: 400;
  z-index: 1;
}
.h15 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
}
.analysis-button,
.run-analysis {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.run-analysis {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  padding: var(--padding-7xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 480px;
  cursor: pointer;
  z-index: 1;
}
.analysis-button {
  align-self: stretch;
  padding: 0 29px;
  color: var(--palette-white);
}
.analysis-area,
.analysis-input,
.chatroom-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.analysis-input {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-300);
  align-items: flex-start;
  padding: 56px var(--padding-lg) var(--padding-mid) var(--padding-lgi);
  gap: var(--gap-485xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
}
.analysis-area,
.chatroom-content {
  box-sizing: border-box;
}
.analysis-area {
  width: 318px;
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-7xl);
  gap: 33px;
  flex-shrink: 0;
  z-index: 2;
  margin-top: -950px;
}
.chatroom-content {
  align-self: stretch;
  align-items: flex-end;
  padding: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--presets-body2);
}
.background,
.chat-room {
  position: relative;
  box-sizing: border-box;
}
.background {
  margin-left: -165px;
  width: 1440px;
  height: 840px;
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-black);
  max-width: 100%;
}
.chat-room {
  width: 100%;
  background-color: var(--palette-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  gap: 0.5px;
  min-height: 1024px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: 'Inter', sans-serif;;
}
.chat-container {
  height: 400px; /* 根据需要调整 */
  overflow-y: auto; /* 使聊天区域可滚动 */
  padding: 10px; /* 添加一些内边距 */
}
.timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 0.8em;
  color: #999;
}
@media screen and (max-width: 1050px) {
  .chat-components {
    flex: 1;
  }
  .conversation8 {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .chat {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .a6 {
    font-size: var(--font-size-21xl);
  }
  .h12 {
    font-size: var(--font-size-10xl);
    line-height: 43px;
  }
  .profile1 {
    padding-top: var(--padding-xl);
    padding-bottom: 127px;
    box-sizing: border-box;
  }
  .h13 {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .list1 {
    padding-bottom: 73px;
    box-sizing: border-box;
  }
  .conversation8 {
    min-width: 100%;
  }
  .a7 {
    font-size: var(--font-size-13xl);
  }
  .h14,
  .h15 {
    font-size: var(--font-size-7xl);
  }
  .h15 {
    line-height: 38px;
  }
  .analysis-input {
    padding-top: var(--padding-9xl);
  }
  .analysis-area,
  .analysis-input {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 875px) {
  .list1,
  .profile1 {
    box-sizing: border-box;
  }
  .profile1 {
    padding-bottom: 83px;
  }
  .list1 {
    padding-bottom: var(--padding-28xl);
  }
  .last-user-message-content,
  .last-user-message-content1 {
    max-width: 100%;
  }
  .bubble {
    padding-left: 170px;
    box-sizing: border-box;
  }
  .contact-messages,
  .user-detailed-messages,
  .user-messages {
    max-width: 100%;
  }
  .bubbles {
    padding-right: 255px;
    box-sizing: border-box;
  }
  .boom-wrapper,
  .simple-wrapper,
  .you-just-edit-any-text-to-type-wrapper {
    max-width: 100%;
  }
  .bubbles1 {
    padding-left: 102px;
    box-sizing: border-box;
  }
  .hmmm-wrapper,
  .i-think-i-get-it-wrapper,
  .will-head-to-the-help-center-i-wrapper {
    max-width: 100%;
  }
  .bubbles2 {
    padding-right: 110px;
    box-sizing: border-box;
  }
  .messages {
    gap: var(--gap-mid);
  }
  .reply {
    flex-wrap: wrap;
  }
  .run-analysis {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .a6 {
    font-size: 30px;
  }
  .wrapper4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .h12 {
    font-size: var(--font-size-3xl);
    line-height: 32px;
  }
  .helena {
    font-size: var(--presets-body2-size);
    line-height: 24px;
  }
  .list-parent {
    gap: var(--gap-40xl);
  }
  .profile1 {
    gap: 108px;
  }
  .h13 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .briana-lewis,
  .daniel-jay-park,
  .giannis-constantinou,
  .helena-hills,
  .mark-rojas,
  .mom,
  .oscar-davis,
  .sherry-roy {
    font-size: var(--presets-body2-size);
    line-height: 24px;
  }
  .chat-components {
    min-width: 100%;
  }
  .chat-header {
    flex-wrap: wrap;
  }
  .bubble {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .bubbles {
    padding-right: var(--padding-xl);
  }
  .bubbles,
  .bubbles1,
  .bubbles2 {
    box-sizing: border-box;
  }
  .bubbles1 {
    padding-left: var(--padding-xl);
  }
  .bubbles2 {
    padding-right: var(--padding-xl);
  }
  .a7 {
    font-size: var(--font-size-5xl);
  }
  .h14,
  .h15 {
    font-size: var(--font-size-lgi);
  }
  .h15 {
    line-height: 29px;
  }
  .analysis-input {
    gap: var(--gap-233xl);
  }
  .analysis-area {
    gap: var(--gap-base);
  }
}