.h11 {
  margin: 0;
  height: 77px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 128px;
}
.e355dc75c2e90373cb295-hero20v-icon2 {
  height: 178px;
  width: 495px;
  position: absolute;
  margin: 0 !important;
  top: -118px;
  right: -184px;
  object-fit: cover;
  z-index: 1;
}
.container,
.frame-item {
  position: relative;
  max-width: 100%;
}
.container {
  width: 422px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-item {
  width: 729px;
  height: 701px;
  box-shadow: 0 4px 64px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
  display: none;
}
.div8,
.sign-in {
  position: relative;
  display: inline-block;
}
.sign-in {
  width: auto;
  font-size: var(--font-size-12xl);
  font-weight: 500;
  white-space: pre-wrap;
}
.div8 {
  min-width: 114px;
}
.password-input-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--palette-white);
  border: 0.6px solid var(--color-gray-400);
  box-sizing: border-box;
}
.enter-your-user1 {
  height: 21px;
  position: absolute;
  margin: 0 !important;
  top: 32.2%;
  left: 6.38%;
  font-weight: 300;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.password-input-background-parent {
  align-self: stretch;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  margin-top: -3px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.group-div,
.user-name-input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.group-div {
  flex: 1;
  flex-direction: column;
}
.user-name-input-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.div9 {
  position: relative;
  display: inline-block;
  min-width: 49px;
  flex-shrink: 0;
}
.user-name-input-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--palette-white);
  border: 0.6px solid var(--color-gray-400);
  box-sizing: border-box;
}
.enter-your-user2 {
  position: absolute;
  margin: 0 !important;
  top: 32.2%;
  left: 6.38%;
  font-weight: 300;
  z-index: 1;
}
.user-name-input-background-parent {
  margin-top: -3px;
  height: 59px;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
}
.instance-wrapper,
.parent1,
.user-name-input-background-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.instance-wrapper {
  align-self: stretch;
  height: 56px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.group-icon {
  position: absolute;
  top: 54px;
  left: 439px;
  width: 24px;
  height: 18.1px;
  z-index: 1;
}
.instance-parent {
  height: 92px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.user-name-input-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.password1 {
  position: relative;
  display: inline-block;
  min-width: 55px;
  flex-shrink: 0;
}
.instance-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--palette-white);
  border: 0.6px solid var(--color-gray-400);
  box-sizing: border-box;
}
.enter-your-password1 {
  position: absolute;
  margin: 0 !important;
  top: 32.2%;
  left: 6.38%;
  font-weight: 300;
  display: inline-block;
  min-width: 104px;
  z-index: 1;
}
.rectangle-group {
  margin-top: -3px;
  height: 59px;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
}
.instance-container,
.password-group,
.rectangle-group {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.instance-container {
  align-self: stretch;
  height: 56px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.password-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.invisible-1 {
  height: 21px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.instance-group {
  flex: 1;
  flex-direction: row;
}
.instance-group,
.login-form-container,
.user-name-input-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.user-name-input-container2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.login-form-container {
  width: 485px;
  flex-direction: column;
  gap: 26.2px;
}
.register-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.div10 {
  position: absolute;
  top: 10.7px;
  left: 217px;
  font-weight: 500;
  display: inline-block;
  width: 49.1px;
  min-width: 49.1px;
  z-index: 1;
}
.register-background-parent {
  width: 483px;
  height: 57px;
  position: relative;
  max-width: 100%;
  color: var(--palette-white);
}
.rectangle-parent,
.register {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent {
  width: 729px;
  margin: 0 !important;
  position: absolute;
  bottom: 54px;
  left: 355px;
  box-shadow: 0 4px 64px rgba(0, 0, 0, 0.05);
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite);
  border: 0.5px solid var(--color-gray-100);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-41xl) var(--padding-3xl) 101px var(--padding-xl);
  gap: 79.3px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.register {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--palette-white);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  padding: 182px 355px 765px;
  gap: 10px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--presets-body2);
}
@media screen and (max-width: 1125px) {
  .register {
    padding-left: var(--padding-158xl);
    padding-right: var(--padding-158xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .h11 {
    font-size: var(--font-size-32xl);
  }
  .sign-in {
    font-size: var(--font-size-6xl);
  }
  .register {
    padding-left: var(--padding-158xl);
    padding-right: var(--padding-158xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .register {
    padding-left: var(--padding-69xl);
    padding-right: var(--padding-69xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h11 {
    font-size: var(--font-size-19xl);
  }
  .div10,
  .div8,
  .div9,
  .password1,
  .sign-in {
    font-size: var(--font-size-lgi);
  }
  .register {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
