<div id="search-friend">
  <form id="search-form">
    <input type="text" id="search-id" placeholder="输入ID" required>
    <input type="text" id="search-username" placeholder="输入用户名" required>
    <button type="submit">搜索</button>
  </form>
  <div id="search-results"></div>
</div>

<template id="search-result-template">
  <div class="search-result">
    <img src="" alt="头像" class="profile-picture">
    <span class="user-id"></span>
    <span class="username"></span>
    <button class="add-friend-btn">新增好友</button>
  </div>
</template>