<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天室</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat-room.css') }}">
</head>
<body>
    <div id="chat-container">
        <div id="sidebar">
          <input type="text" id="search-friend" placeholder="搜尋聊天和訊息">
            <nav>
                <ul>
                    <li class="active">全部</li>
                    <li>好友</li>
                    <li>群組</li>
                    <li>社群</li>
                </ul>
            </nav>
            <div id="friend-list">
                <!-- 好友列表將在這裡動態生成 -->
            </div>
        </div>
        <div id="chat-window">
            <div id="chat-header">
                <h2>聊天室</h2>
                <div id="chat-actions">
                  <img
                  class="phone-icon"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static', filename='image/phone.svg')}}"
                />

                <img
                  class="video-icon"
                  loading="lazy"
                  alt=""
                  src="{{url_for('static', filename='image/video.svg')}}"
                />
                </div>
            </div>
            <div id="message-list" class="message-container">
                <!-- 聊天訊息將在這裡動態生成 -->
            </div>
            <div id="message-input-area">
                <textarea id="message-input" placeholder="輸入訊息..."></textarea>
                <button id="send-button">發送</button>
                <img class="mic-icon" loading="lazy" alt="" src="{{url_for('static', filename='image/mic.svg')}}" />
                <img class="smile-icon" loading="lazy" alt="" src="{{url_for('static', filename='image/smile.svg')}}" />
                <img class="image-icon1" loading="lazy" alt="" src="{{url_for('static', filename='image/image-1.svg')}}" />
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--script src="{{ url_for('static', filename='js/chat.js') }}"></script-->
</body>
</html>