<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sentiment-analysis.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="sentiment-analysis">
      <header class="rectangle-parent2">
        <div class="frame-child3"></div>
        <h1 class="h16">情感分析室</h1>
      </header>
      <main class="chatbot">
        <div class="sidebar">
          <div class="frame-parent6">
            <div class="frame-parent7">
              <img class="frame-icon" alt="" src="{{url_for('static', filename='image/frame-668.svg')}}" />

              <button class="frame-button">
                <div class="div19">分析結果</div>
              </button>
            </div>
            <div class="frame-wrapper6">
              <div class="frame-parent8">
                <form class="add-chat-components-parent">
                  <div class="add-chat-components">
                    <img class="bg-icon" alt="" src="{{url_for('static', filename='image/bg@2x.png')}}" />

                    <button class="frame-parent9">
                      <div class="bold-duotone-essentional-ui-wrapper">
                        <img
                          class="bold-duotone-essentional-ui"
                          alt=""
                          src="{{url_for('static', filename='bold-duotone--essentional-ui--add-square.svg')}}"
                        />
                      </div>
                      <div class="new-chat">New Chat</div>
                    </button>
                  </div>
                  <div class="add-chat-components1">
                    <div class="bold-duotone-arrows-round-wrapper">
                      <img
                        class="bold-duotone-arrows-round"
                        loading="lazy"
                        alt=""
                        src="{{url_for('static', filename='image/bold-duotone--arrows--round-alt-arrow-down.svg')}}"
                      />
                    </div>
                    <div class="recent-chats">Recent Chats</div>
                  </div>
                  <div class="add-chat-components2">
                    <div class="rephrase-text">Rephrase text...</div>
                  </div>
                  <input
                    class="add-chat-components3"
                    placeholder="Fix this code ne..."
                    type="text"
                  />
                </form>
                <div class="outline-messages-coversatio-wrapper">
                  <img
                    class="outline-messages-coversatio"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static', filename='image/outline--messages-coversation--square-forward.svg')}}"
                  />
                </div>
              </div>
            </div>
            <div class="frame-wrapper7">
              <div class="frame-parent10">
                <div class="frame-wrapper8">
                  <img
                    class="frame-child4"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static', filename='image/frame-435@2x.png')}}"
                  />
                </div>
                <div class="welcome-back-parent">
                  <div class="welcome-back">Welcome back,</div>
                  <div class="suvigya">Suvigya</div>
                </div>
                <div class="arrow-down-2-wrapper">
                  <img
                    class="arrow-down-2"
                    loading="lazy"
                    alt=""
                    src="{{url_for('static', filename='image/arrow--down-2.svg')}}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent11">
          <div class="frame-wrapper9">
            <div class="frame-parent12">
              <div class="bold-duotone-essentional-ui-container">
                <img
                  class="bold-duotone-essentional-ui1"
                  loading="lazy"
                  alt=""
                  
                  src="{{url_for('static', filename='image/bold-duotone--essentional-ui--danger-triangle.svg')}}"
                />
              </div>
              <div class="delete-icon">
                <img
                  class="bold-duotone-essentional-ui2"
                  loading="lazy"
                  alt=""
                  
                  src="{{url_for('static', filename='image/bold-duotone--essentional-ui--trash-bin-2.svg')}}"
                />
              </div>
              <div class="search-container">
                <div class="search2">
                  <div class="search-child"></div>
                  <img
                    class="search-1-icon"
                    alt=""
                    
                    src="{{url_for('static', filename='image/search-11.svg')}}"
                  />

                  <input class="search-item" placeholder="Search" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="message-box-container-parent">
            <div class="message-box-container">
              <div class="main-message-box">
                <div class="user-message-content">
                  <div class="rephrase-this-is-an-ai-chatbo-parent">
                    <div class="rephrase-this-is">
                      Rephrase ‘This is an ai chatbot generated for better
                      communication and simpler work flows’
                    </div>
                    <img
                      class="frame-child5"
                      alt=""
                      
                      src="{{url_for('static', filename='image/frame-435-1@2x.png')}}"
                    />

                    <img
                      class="outline-messages-coversatio1"
                      alt=""
                      
                      src="{{url_for('static', filename='image/outline--messages-coversation--square-forward-1.svg')}}"
                    />
                  </div>
                </div>
                <div class="border-bottom"></div>
              </div>
            </div>
            <div class="response-message-container">
              <div class="response-message-box">
                <div class="response-content">
                  <img
                    class="main-message-box1"
                    alt=""
                    
                    src="{{url_for('static', filename='image/main-message-box@2x.png')}}"
                  />

                  <img
                    class="outline-messages-coversatio2"
                    alt=""
                    
                    src="{{url_for('static', filename='image/outline--messages-coversation--square-forward-2.svg')}}"
                  />
                </div>
              </div>
              <div class="main-message-box2">
                <div class="thank-you">Thank You :)</div>
                <div class="border-bottom-parent">
                  <div class="border-bottom1"></div>
                  <img
                    class="frame-child6"
                    loading="lazy"
                    alt=""
                    
                    src="{{url_for('static', filename='image/frame-437@2x.png')}}"
                  />
                </div>
              </div>
            </div>
            <div class="outer">
              <div class="main-message-box3">
                <div class="border-bottom2"></div>
                <div class="body-parent">
                  <div class="body">Type a new message here</div>
                  <img
                    class="send-icon"
                    loading="lazy"
                    alt=""
                    
                    src="{{url_for('static', filename='image/send.svg')}}"
                  />

                  <img
                    class="emojis-icon"
                    loading="lazy"
                    alt=""
                    
                    src="{{url_for('static', filename='image/emojis.svg')}}"
                  />

                  <img
                    class="outline-messages-coversatio3"
                    loading="lazy"
                    alt=""
                    
                    src="{{url_for('static', filename='image/outline--messages-coversation--paperclip.svg')}}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
